
header { width: 100%; min-height: 100px; background-color: coral;}
footer { width: 100%; min-height: 300px; background-color: darkslategrey;}


section {
    width: 100%;
    min-height: 300px;
    background-color: lightyellow;

}

section.bg {
    height: 600px;
    background-image: url(../img/main_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}
